.task {
  background-color: var(--color-third);
  display: inline-flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  font-size: 20px;

  button {
    &:hover {
      cursor: pointer;
    }

    fa-icon {
      font-size: 15px;
    }
  }

  > div {
    > * {
      margin: 0px 5px;
    }
    > div > * {
      margin: 0px 5px;
    }
  }

  input[type="text"] {
    width: 100%;
  }
}

.task.is-completed {
  span {
    text-decoration: line-through;
  }
}
