<div [ngClass]="setClasses()">
  <div class="w-100 title-container d-flex align-items-center">
    <input
      type="checkbox"
      [checked]="task.completed"
      (change)="checkboxChangeFn($event)"
    />
    <div *ngIf="!isEditingTitle; else editMode">
      <span>{{ task.title }}</span>
    </div>
  </div>
  <div class="d-flex">
    <button class="w-100 task-title-edit" (click)="titleEditFn($event)">
      <fa-icon [icon]="pencilIcon" size="sm"></fa-icon>
    </button>
    <ng-template #editMode>
      <input
        #titleInput
        type="text"
        [value]="task.title"
        (focusout)="titleChangeFn($event)"
        (keyup.enter)="titleChangeFn($event)"
      />
    </ng-template>
    <button class="w-100 del" (click)="onDelete(task)">
      <fa-icon [icon]="trashIcon" size="sm"></fa-icon>
    </button>
  </div>
</div>
